.chat--window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat--window--header {
    display: flex;    
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #bdd3fc;
}

.chat--window--header--info {
    display: flex;  
    align-items: center; 
    cursor: pointer; 
    flex: 1;
}

.chat--window--header--info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 15px;    
}

.chat--window--header--info div {
    font-size: 17px;
    color: #112D4E
}

.chat--window--header--buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;    
}

.chat--window--body {
    flex: 1;
    overflow-y: auto;
    background-color: #efeef5;
    background-image: url('/public/images/bg2.png');
    background-position: center;
    background-size: contain;
}

.chat--window--footer {
    border-top: 1px solid #bdd3fc;
    height: 62px;
    display: flex;
    align-items: center;     
}

.chat--window--footer--pre {
    display: flex;
    padding: 0 10px;
}

.chat--window--footer--input {
    flex: 1;
}

.chat--window--footer--input input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 20px;
    font-size: 15px;
    color: #112D4E;
    padding-left: 15px;
}

.chat--window--footer--pos {
    display: flex;
    padding: 0 10px;
}

.chat--window--emoji {
    height: 0;
    overflow-y: hidden;
    transition: all ease .3s;
}
.open {
    height: 200px;
}
.open--icon {
    width: 0;    
    overflow: hidden;    
}
.open--active {
    color: #0b088f;
}

aside.EmojiPickerReact.epr-main {
    background-color: transparent; 
}
aside.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
    background-color: transparent; 
}